{% extends 'blog/base.html' %}

<!DOCTYPE html>
{% block content %}
    <h1>Вход на сайт</h1>
    <form action="{% url 'login' %}" method="post" class="form-control">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Войти">
    </form>
{% endblock %}
