{% extends 'blog/base.html' %}

{% block content %}
    <h1>Регистрация</h1>
    {% if message %}
    <div style="color:red;">{{ message }}</div>
    {% endif %}
    <div>
        <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" class="form-control" placeholder="Логин"> <br>
        <input type="text" name="fullname" class="form-control" placeholder="Полное имя"><br>
        <input type="email" name="email" class="form-control" placeholder="email"> <br>
        <input type="password" name="password" class="form-control" placeholder="Пароль"> <br>
        <input type="password" name="password2" class="form-control" placeholder="Подтверждение"> <br>
        <input type="submit" value="Подтвердить регистрацию">
    </form>
    </div>
{% endblock %}


