{% load staticfiles %}
<!doctype html>
<html lang="ru">
    <head>
<!-- Не забываем подключать meta теги -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>

<!-- Начало шапки -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="https://gitlab.com/BahaBiceps/my-first-blog" class="navbar-brand" target="_blank">
                <img src="https://cdn.worldvectorlogo.com/logos/gitlab.svg" width="30px" height="30px" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Главная</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'post_new' %}" class="nav-link">Добавить пост</a></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Вход</a></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Регистрация</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Выйти</a></li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">О нас</a>
                    </li>
                </ul>
            </div>
        </nav>
<!-- Конец шапки -->

    <audio controls class="container" style="">
        <source src="static/audio/1.mp3" type="audio/mpeg">
    </audio>

<!-- Начало блога -->
        <div class="container">
            {% block content %}
<!-- Здесь и происходит вся динамическая магия -->
            {% endblock %}
        </div>
<!-- Конец блога -->

<!-- jQuery первым, затем Popper.js и только потом Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
