{% extends 'blog/base.html' %}

<body>
    <!-- Начало блога -->
        <div class="container">
            {% block content %}
            <!-- Здесь и происходит вся динамическая магия -->
            {% endblock %}
        </div>
        <!-- Конец блога -->
</body>
</html>
