{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>Добавлено: {{ post.published_date }}</a></p>
    </div>
    {% endfor %}
{% endblock %}