{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
    	<div class="date">
    	<h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.published_date %}
        <p>Добавлено: {{ post.published_date }}</a></p>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}">Редактировать</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href='/news/delete_new/{{object.id}}/'>Удалить</a>
        {% endif %}
    	</div>
    </div>
{% endblock %}