@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
    background-color:rgba(255, 255, 255, 0.48);
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.3rem rgba(167, 40, 40, 0.5);
    background-color: rgb(255, 0, 0);
    border-color: rgba(167, 40, 40, 0.5);
    color: black;
}